:root {
  --color-1: #f9f7f7;
  --color-2: #dbe2ef;
  --color-3: #3f72af;
  --color-4: #112d4e;
}

body {
  background-color: var(--color-1);
  color: var(--color-4);
  line-height: 1.2rem;
}

footer,
section {
  border-top: 2px solid var(--color-4);
}

nav {
  padding-bottom: 10px;
}

.container {
  border: 0;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 800px;
  padding: 0;
}

.hero {
  border: 2px solid var(--color-4);
  border-radius: 50%;
  max-width: 200px;
}

.navbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
